/* Global CSS Starts Here */

$primary-white-color: #fff;
$primary-font-size: 14px;
$none : none;
$defaultMargin : 0;
$defaultPadding : 0;
$defaultColor : #4d4d4d;


body {
  background: $primary-white-color;
  font-size: $primary-font-size;
  color: $defaultColor;
  -moz-user-select: $none;
  -webkit-user-select: $none;
}

a {
  text-decoration: $none;
}

p {
  font-size: $primary-font-size;
  padding: $defaultPadding;
  margin: $defaultMargin;
}

label {
  margin: $defaultMargin;
}

ul , li {
  margin: $defaultMargin;
  padding: $defaultPadding;
}

/* Global CSS Ends Here */

.Header-wrapper {
  text-align: center;
  color: white;
  background-color: black;
  font-size: 18px;
  padding: 10px;

  .Header-tablist {
    margin-left: 150px;
    display: inline;
  }

  .Header-tab {
    display: inline;
    margin: 0px 15px;
    cursor: pointer;
  }

  .Header-tab:hover {
    font-weight: 500;
    color: orangered;
  }

  .tabs {
    display: inline;
  }

  .TabPanel { 
    color: black;
    position: absolute;
    left: 500px;
    top: 50px;
  }

  .authentication {
    display: inline;
    position: absolute;
    right: 50px;
  }

  .Signup {
    display: inline;
  }

  .Login {
    display: inline;
    margin-left: 20px;
  }

  .googleAuth {
    display: inline;
    margin-left: 20px;
  }

  .header-button {
    background-color: black;
    color: white;
    border: 1px solid white;
    cursor: pointer;
  }

  .header-button:active {
    color: orangered;
    transform: translateY(1px);
  }
}