/* Global CSS Starts Here */

$primary-white-color: #fff;
$primary-font-size: 14px;
$none : none;
$defaultMargin : 0;
$defaultPadding : 0;
$defaultColor : #4d4d4d;


body {
  background: $primary-white-color;
  font-size: $primary-font-size;
  color: $defaultColor;
}

a {
  text-decoration: $none;
}

p {
  font-size: $primary-font-size;
  padding: $defaultPadding;
  margin: $defaultMargin;
}

label {
  margin: $defaultMargin;
}

ul , li {
  margin: $defaultMargin;
  padding: $defaultPadding;
}

li{list-style-type: none;}

/* Global CSS Ends Here */

.Header-wrapper {
  text-align: center;
  color: orange;

  .Header-tablist {
    font-size: 20px;
    display: inline;
  }

  .Header-tab {
    display: inline;
    margin-right: 15px;
    cursor: pointer;
  }

  .Header-tab:active {
    font-weight: 500;
    color: orangered;
  }
}


/* CSS FOR GLOBAL HEADER */

.section--header {
  padding: 20px;
  color: #140a47;
  font-size: 30px;
}