/* Global CSS Starts Here */

$primary-white-color: #fff;
$primary-font-size: 14px;
$none : none;
$defaultMargin : 0;
$defaultPadding : 0;
$defaultColor : #4d4d4d;


body {
  background: $primary-white-color;
  font-size: $primary-font-size;
  color: $defaultColor;
  -moz-user-select: $none;
  -webkit-user-select: $none;
}

a {
  text-decoration: $none;
}

p {
  font-size: $primary-font-size;
  padding: $defaultPadding;
  margin: $defaultMargin;
}

label {
  margin: $defaultMargin;
}

ul , li {
  margin: $defaultMargin;
  padding: $defaultPadding;
}

li{list-style-type: none;}

/* Global CSS Ends Here */

/* CSS FOR GLOBAL HEADER */

.section--header {
  padding: 20px;
  color: #140a47;
  font-size: 30px;
}