/* Global CSS Starts Here */

$primary-white-color: #fff;
$primary-font-size: 14px;
$none : none;
$defaltMargin : 0;
$defaltPadding : 0;
$defaultColor : #4d4d4d;


body {
  background: $primary-white-color;
  font-size: $primary-font-size;
  color: $defaultColor
}

a {text-decoration: $none}
p{font-size: $primary-font-size;padding: $defaltPadding;margin: $defaltMargin}
label{margin:$defaltMargin }
ul , li {margin: $defaltMargin;padding: $defaltPadding}

/* Global CSS Ends Here */